<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="hashPath" value="E:\Guild Wars 2\bin64\d3d9.dll.md5sum" />
        <add key="dllPath" value="E:\Guild Wars 2\bin64\d3d9.dll" />
        <add key="dllUri" value="https://www.deltaconnected.com/arcdps/x64/d3d9.dll" />
        <add key="hashUri" value="https://www.deltaconnected.com/arcdps/x64/d3d9.dll.md5sum" />
        <add key="virusTotalApiKey" value="" />
        <add key="gameExe" value="E:\Guild Wars 2\Gw2-64.exe" />
    </appSettings>
</configuration>